<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crédito de Carbono - Trabalho Acadêmico</title>

    <!-- FONTES & ÍCONES -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</head>

<body>
    <!-- SIDEBAR -->
    <nav id="sidebar">
        <h2>Crédito de Carbono</h2>
        <div class="nav-links">
            <a href="#inicio" class="active"><i class="fas fa-seedling"></i> Início</a>
            <a href="#conceito"><i class="fas fa-leaf"></i> Conceito</a>
            <a href="#impacto"><i class="fas fa-globe"></i> Impacto Ambiental</a>
            <a href="#estrategias"><i class="fas fa-lightbulb"></i> Estratégias</a>
            <a href="#calculadora"><i class="fas fa-calculator"></i> Calculadora</a>
            <a href="#conclusao"><i class="fas fa-flag-checkered"></i> Conclusão</a>
        </div>
    </nav>

    <!-- MENU HAMBÚRGUER -->
    <div class="menu-toggle" id="menuToggle">
        <div class="hamburger"></div>
    </div>

    <!-- CONTEÚDO PRINCIPAL -->
    <main class="main-content">

        <!-- SEÇÃO HERO -->
        <header class="header" data-theme="hero" id="inicio">
            <div class="header-content">
                <h1>Crédito de Carbono</h1>
            </div>
        </header>

        <!-- SEÇÃO CONCEITO -->
        <section id="conceito" data-theme="light">
            <article>
                <h2>O que é o CO₂ e por que ele preocupa tanto?</h2>
                <p>O dióxido de carbono (CO₂) é um gás sem cor e sem cheiro, formado por um átomo de carbono e dois de oxigênio.
                     Ele existe naturalmente na atmosfera e faz parte do equilíbrio da Terra. O CO₂ é liberado por processos naturais,
                      como respiração e decomposição,
                     mas também por ações humanas, principalmente pela queima de carvão, petróleo e gás natural (IPCC, 2021).</p>
                <p>Quando há muito CO₂ no ar, o calor do sol fica “preso” na atmosfera,
                     o que aumenta o efeito estufa e causa o aquecimento global. Isso muda o clima,
                      causa secas, enchentes, calor extremo e afeta plantações, água e até a saúde das pessoas (Steffenw et al., 2015).
                </p>
                <p>Em locais fechados, como salas e escritórios, o acúmulo de CO₂ pode provocar cansaço,
                     dor de cabeça e falta de concentração (Satish et al., 2012).
                     Nas cidades grandes, o problema é ainda pior, porque a poluição do ar se soma a esse gás e agrava os efeitos.
                </p>
            </article>
        </section>

        <!-- SEÇÃO IMPACTO -->
        <section id="impacto" data-theme="image-1">
            <article>
                <h2>Impacto Ambiental</h2>
                <div class="estrategias">
                    <div class="card">
                        <h4>Emissões Industriais</h4>
                        <p>As emissões de dióxido de carbono (CO₂) resultam principalmente do uso de combustíveis fósseis,
                             do desmatamento e de processos industriais. O setor energético responde por cerca de 35% das emissões globais,
                              seguido pelo transporte (24%), indústria (21%) e agropecuária (18%). Esses setores concentram as atividades de
                               maior consumo energético e, consequentemente, maior contribuição para o aquecimento global.</p>
                        <p>O gráfico a seguir mostra a participação percentual das emissões de CO₂ entre 1850 e 2023:</p>
                        <img src="/static/images/unnamed1.jpg" class="image">
                        <p>Além disso, ao observar os números absolutos,
                             percebe-se a diferença entre os maiores emissores em megatoneladas de dióxido de carbono equivalente (MtCO₂):
                        </p>
                        <img src="/static/images/unnamed.jpg" class="image">
                        <p>Esses dados ajudam a entender o tamanho da responsabilidade de cada nação.
                              A China e os Estados Unidos lideram o ranking devido às suas grandes indústrias e alto consumo de energia,
                             enquanto o Brasil aparece por conta do desmatamento e da queima de combustíveis no transporte e na agropecuária.
                        </p>     
                    </div>
                </div>
            </article>
        </section>

        <!-- SEÇÃO ESTRATÉGIAS -->
        <section id="estrategias" data-theme="dark-solid">
            <article>
                <h2>Estratégias de Sustentabilidade</h2>
                <div class="estrategias">
                    <div class="card">
                        <h4>Calculadoras de carbono</h4>
                        <p>As calculadoras de carbono ajudam pessoas e empresas a identificar quanto CO₂ é emitido no dia a dia,
                             considerando transporte, energia, alimentação e resíduos. Ao revelar esse impacto de forma simples, elas estimulam escolhas mais
                             sustentáveis e aproximam o usuário do entendimento sobre sua contribuição para o aquecimento global (Matos et al., 2023).</p>
                        
                        <p>Esse conceito se conecta ao mercado de carbono, um sistema que permite comprar e vender créditos
                             equivalentes a uma tonelada de CO₂ que deixou de ser emitida. Criado para incentivar financeiramente
                              projetos de reflorestamento e energias renováveis, ele ganhou força com o Protocolo de Quioto e o Brasil
                               se destaca pelo potencial em gerar créditos a partir de florestas e fontes limpas (UNFCCC, 2022).
                        </p>

                        <p>Apesar disso, o mercado enfrenta críticas, como a dependência de países em desenvolvimento da venda de créditos
                             e os riscos de “greenwashing” em mercados pouco regulados. Ainda assim, especialistas defendem que,
                              com regras claras e fiscalização adequada, esse mecanismo continua sendo uma ferramenta importante para
                               apoiar a redução de emissões e a transição para uma economia de baixo carbono
                                (Carbon Market Watch, 2024; OECD, 2021).
                        </p>                        
                    </div>
                </div>
            </article>
        </section>

        <!-- SEÇÃO CALCULADORA -->
        <section id="calculadora" data-theme="image-2">
            <article>
                <h2>Calculadora de Emissões</h2>
                <p>Esta seção permitirá calcular a emissão de carbono, a quantidade de árvores adultas necessarias para compensar a emissão e o custo do crédito de carbono.</p>
                    <div id="calculadora">
                        <label> Calculadora de CO2 </label>

                        <select id="tipoVeiculo">
                            <option value="" disabled selected>Selecione o veículo</option>
                            <option value="carro">Carro</option>
                            <option value="moto">Moto</option>
                            <option value="onibus">Ônibus</option>
                            <option value="aviao">Avião</option>
                        </select>

                        <select id="combustivel">
                            <option value="" disabled selected>Selecione o combustível</option>
                            <option value="gasolina">Gasolina</option>
                            <option value="etanol">Etanol</option>
                            <option value="diesel">Diesel</option>
                            <option value="gas_natural">Gás Natural</option>
                            <option value="querosene_aviacao">Querosene de Aviação</option>
                            <option value="hibrido">Híbrido</option>
                        </select>

                        <p id="infoCombustivel" style="color:#007BFF; font-weight:bold; margin-top:5px;"></p>

                        <label for="frequencia">Quantas vezes por mês:</label>
                        <input type="number" id="frequencia" min="1" max="31" placeholder="Digite de 1 a 31">
                        <p id="aviso-frequencia" class="aviso">O valor máximo é 31.</p>

                        <label for="distancia">Distância:</label>
                        <input type="number" id="distancia" min="1" max="99999" placeholder="Distância em Km">
                        <p id="aviso-distancia" class="aviso">O valor máximo é 99999 Km.</p>

                        <button onclick="calcular()">Calcular</button>

                        <label id="resultado" style="display:none;"></label>
                    </div>
            </article>
        </section>

        <!-- SEÇÃO CONCLUSÃO -->
        <section id="conclusao" data-theme="light">
            <article>
                <h2>Energia solar: o Sol como aliado</h2>
                <p>A energia solar é uma das melhores saídas para diminuir as emissões.
                     Ela transforma a luz do sol em eletricidade, sem precisar queimar nada, o que torna ela limpa e renovável.
                     Casas, escolas e empresas podem usar painéis solares para gastar menos energia das usinas e reduzir a poluição.</p>

                <p>Além de ajudar o meio ambiente,
                     também reduz a conta de luz e pode até gerar uma grana extra com o excesso de energia vendida para a rede.</p>
                     
                <p>No Brasil, o potencial é enorme, principalmente no Norte e Nordeste, onde o sol aparece o ano inteiro.</p>
            </article>
        </section>

        <footer>
            <p>Trabalho acadêmico para a disciplina de Atividades Práticas Supervisionadas</p>
            <p><strong>Ciência da Computação - UNIP Chácara Santo Antônio</strong></p>
            <p>Lucas Augusto - Jason Chen - Pedro Henrique - Nicolly Borges - Leonardo Gomes - Edson Guilherme</p>
        </footer>
    </main>
    
    
</body>
</html>